In [15]:
def sum_of_two_digits():
    two_digit_number=input("Enter the two digit number:")
    sum_of_two_digit_number=int(two_digit_number[0]+int(two_digit_number[1]))
    print( sum_of_two_digit_number)

sum_of_two_digits()

TypeError: can only concatenate str (not "int") to str

In [11]:
fruit = "orange"
for char in fruit:
    print(char)

o
r
a
n
g
e

In [12]:
fruit = "orange"
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index += 1

o
r
a
n
g
e

In [14]:
number = input("enter an integer number:")
sum_digits = 0
for num in number:
    sum_digits += int(num)
print(sum_digits)

6

In [17]:
def count_letter(word,letter):
    counter = 0
    for char in word:
        if char == letter:
            counter+=1
    return counter
print(count_letter("computer","t"))

1

In [18]:
def first_last_character(word):
    if len(word)<2:
        return ''
    first_two_characters=word[0:2]
    last_two_charcaters=word[-2:]
    return first_two_characters+last_two_charcaters
print(first_last_character("praveen"))

pren

In [19]:
my_name="prem"
print(dir(my_name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [23]:
word = "hello world."
word1=word.replace(".","!")
print(word1)

hello world!

In [2]:
list1 = [10,10,5,15,50,50,20,50]
index = list1.index(50)
list1[index]=5
print(list1)

[10, 10, 5, 15, 5, 50, 20, 50]

In [9]:
list1 = ['cbc','xyz','ck','mnm','aa','trt']

def count_words(p_list):
    ctr=0
    for word in p_list:
        if len(word)>=2 and word[0]==word[-1]:
            ctr+=1
    return ctr
count_words(list1)

4

sqaure of items

In [22]:
def list(p_list):
    for index in range(len(p_list)):
        p_list[index]=p_list[index]*p_list[index]
    return p_list
list2=[1,2,3,4]
list(list2)

[1, 4, 9, 16]

reverse a string using slice operator

In [25]:
custom_list = [1,2,3,4,5,6,7,8,9,10]
list2 = custom_list[::-1]
print(list2)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Update the First Occurrence
Find the value of 50 in a given list, and if it is present, replace  the first occurrence of a value with 5.

In [32]:
list1=[10,10,5,15,50,50,20]
index=list1.index(50)
list1[index]=5
print(list1)

[10, 10, 5, 15, 5, 50, 20]

First and Last Characters
Implement a function which takes the string type list as a parameter and returns the count of the number of strings where the string length is 2 or more and the first and the last characters are same.

In [49]:
list1=['cbc','xyz','aba','2332','mm']

def flc(p_list):
    ctr=0
    for word in p_list:
        if len(word)>=2 and word[0]==word[-1]:
            ctr+=1
    return ctr
flc(list1)

4

Create a List from Two Lists
Given two lists create a third list by picking an odd-index element from the first list and even-index elements from the second.

list_one = [4, 12, 16, 21, 24, 28, 32]
list_two = [5, 10, 15, 20, 25, 30, 35]

Output
[12, 21, 28, 5, 15, 25, 35]

In [62]:
list_one = [4, 12, 16, 21, 24, 28, 32]
list_two = [5, 10, 15, 20, 25, 30, 35]
odd_index_l1 = list_one[1::2]
even_index_l2 = list_two[0::2]
odd_index_l1.extend(even_index_l2)
print(odd_index_l1)

[12, 21, 28, 5, 15, 25, 35]

Remove and Add
Remove an element at index 4 in a given list and add it to the 2nd position and at the end of the list.

custom_list = [10, 44, 57, 99, 11, 33, 84]
Output

[10, 44, 11, 57, 99, 33, 84, 11]

In [67]:
custom_list = [10, 44, 57, 99, 11, 33, 84]
custom_list.pop(4)
custom_list.insert(2,11)
custom_list.append(11)
print(custom_list)

[10, 44, 11, 57, 99, 33, 84, 11]

Three Equal Chunks
Given a list slice it into Three Equal Chunks and reverse each chunk.

sample_list = [21, 55, 18, 33, 24, 22, 68, 35, 79]
Output

Chunk-1 = [18, 55, 21]
Chunk-2 = [22, 24, 33]
Chunk-3 = [79, 35, 68]

Format List
Print a given list in the format that is shown below using join method.

custom_list = [1, 2, 3, 4, 5]

Output

1 | 2 | 3 | 4 | 5

In [69]:
custom_list = [1, 2, 3, 4, 5]
output_list=[]
for item in custom_list:
    output_list.append(str(item))
custom_list = "|".join(output_list)
print(custom_list)

1|2|3|4|5

Add Item in Nested List
Given a list as shown below and add item 7000 after 5000 and print out final list to the console.

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
Output

[10, 20, [300, 400, [5000, 7000, 6000], 500], 30, 40]